.home-body{
    position: relative;
}
.home-body-container{
    margin: auto;
    margin-top: 2%;
    width: 95%;
    height: 75vh;
    background: rgba(0, 0, 0, 0.671);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}
.home-left-text{
    font-size: 100px;
    cursor: default;
}
.home-left-text1{
    color: skyblue;
    font-weight: bolder;
    font-weight: bold;
    font-size: 140px;
    transition: all 1s ease;
}
.home-left-text1:hover{
    color: rgb(15, 63, 255);
}
.home-left-text2{
    font-size: 80px;
    color: aqua;
    font-weight: bolder;
    transition: all 1s ease;
}
.home-left-text2:hover{
    color: rgb(15, 63, 255);
}
.home-left-text3{
    font-size: 40px;
    color: aqua;
    font-weight: bolder;
    color: white;
}
.home-left-text{
    padding: 16px;
}
.home-left-btn{
    margin-top: 20%;
}
.left-btn-btn{
    width: 500px;
    padding: 10px 70px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background: rgb(0, 40, 202);
    font-weight: bolder;
    font-size: 50px;
    transition: all 0.5s ease-in-out;
}
.left-btn-btn:hover{
    background: rgb(0, 140, 255);
}
.right-back{
    width: 200px;
    height: 40vh;
    background: rgb(16,23,40);
    background: radial-gradient(
        circle, 
        rgba(16,23,40,1) 0%, 
        rgba(245,11,180,1) 21%, 
        rgba(5,30,244,1) 83%
    );
}
.Home-Right-Pictures{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    background: #00000082;
    box-sizing: border-box;
    box-shadow: 0px 0px 100px 50px skyblue;
    margin-top: 20%;
    display: grid;
    grid-template-columns: auto auto;
    
}
.Home-Right-Pic1{
    height: 100%;
    border-radius: 100% 0px 0px 0px;
    transition: all 1s ease
}
.Home-Right-Pic2{
    height: 100%;
    border-radius: 0px 100% 0px 0px;
    transition: all 1s ease
}
.Home-Right-Pic3{
    height: 100%;
    border-radius: 0px 0px 0px 100%;
    transition: all 1s ease
}
.Home-Right-Pic4{
    height: 100%;
    border-radius: 0px 0px 100% 0px;
    transition: all 1s ease
}
.Home-Right-Pic1:hover{
    scale: 1;
    border-radius: 20px;
}
.Home-Right-Pic2:hover{
    scale: 1;
    border-radius: 20px;
}
.Home-Right-Pic3:hover{ 
    scale: 1;
    border-radius: 20px;
}
.Home-Right-Pic4:hover{
    scale: 1;
    border-radius: 20px;
    cursor: url(''),auto;
}
.Home-Right-PicCenter{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: 30%;
    left: 30%;
    transition: all 1s ease;
}
.Home-Right-PicCenter:hover{
    transform: scale(1.5);
}